
# Database

DATABASE_URL=
# JWT
JWT_SECRET=
# port

PORT = 3000

NODE_ENV = 

FRONTEND_URL = 
API_URL = 

GITHUB_CLIENT_ID= 
GITHUB_CLIENT_SECRET= 
GITHUB_CALLBACK_URL= 

GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET= 
GOOGLE_CALLBACK_URL= 


# db config 

DB_POOL_MAX=20
DB_TIMEOUT=10000
DB_IDLE_TIMEOUT=30000
DB_STATEMENT_TIMEOUT=30000

ADMIN_EMAIL = 
ADMIN_PASSWORD = 


## email verification

# .env
SMTP_HOST=
SMTP_PORT= 
SMTP_USER=
SMTP_PASS=
SMTP_FROM=


# Redis
REDIS_HOST=  # for docker use redis (name of the service)   # Use 'redis' when running inside Docker
REDIS_PORT=